.header
{
    text-align: center;
    font-size: 40px;
}
.main-container
{
    text-align:center;
}

.check
{
    margin: 10px;
}
.check input
{
    margin: 5px;
    padding: 5px;

}
.create-link
{
    padding: 10px;
    width: 300px;
    height: 50px;
    margin: auto;
    background-color: green;
}
#Create
{
    color: white;
    font-size: 20px;
}

#Create:link
{
    text-decoration: none;
    text-align: center;

}
#submit
{
    background-color: red;
    color: white;
    font-size: 15px;
    border: none;
}

.footer
{
    padding: 5px;
    margin: auto;
    text-align: center ;
}
.cs50:hover
{
    color: white;
    background-color: blue;
}
.cs50:link
{
    text-decoration: none;
}
/* colors header*/
.v
{
    color: violet;
}
.i
{
    color: red;
}
.b
{
    color: blue;
}
.y
{
    color: orange;
}
.g
{
    color: green;
}
/* colors header*/